@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content {
  margin: 0px 100px;
}

.logo {
  width: 60px;
  height: 50px;
}

.header {
  background-color: #8b0305;
  color: white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8b0305;
    color: rgba(255,255,255,.5);
    text-align: center;
    padding: 20px 0px;
}

.profile {
  margin: 20px;
  width: 200px;
}

.text-header {
  font-size: 40px;
  font-weight: bold;
}

.primary-color {
  color: #8b0305;
}

.text-description {
  font-size: 20px;
}

.align-self-center {
  align-self: center;
}

ul.square {
  list-style-type: square;
}
